src/main/mule/orchestration/employees.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-sapi="http://www.mulesoft.org/schema/mule/salesforce-sapi" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:dealernet-sapi="http://www.mulesoft.org/schema/mule/dealernet-sapi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/dealernet-sapi http://www.mulesoft.org/schema/mule/dealernet-sapi/current/mule-dealernet-sapi.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce-sapi http://www.mulesoft.org/schema/mule/salesforce-sapi/current/mule-salesforce-sapi.xsd">
	<flow name="send-employees-shifts-to-salesforce" doc:id="59f02b15-c455-485f-a622-8266b1358fe4" >
		<scheduler doc:name="Scheduler" doc:id="b43fad1d-b10d-4c9e-bd86-b8f645704e72" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" startDelay="10" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<scatter-gather doc:name="Scatter-Gather" doc:id="890c4a6a-e912-4c0f-b73c-3e35e54a60ab">
			<route>
				<ee:transform doc:name="Variables to Get Mechanics Shifts and recordType" doc:id="fe4a6086-abd7-4c2f-b050-79a1bd2a204b">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="department"><![CDATA[%dw 2.0
output application/json
---
"mechanic"]]></ee:set-variable>
						<ee:set-variable variableName="object"><![CDATA[%dw 2.0
output application/json
---
"Seller__c"]]></ee:set-variable>
						<ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/json
---
"Produtivo"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="search-recordType-salesforce" doc:id="07d3bd8f-d73b-4f13-8c6c-4db7b177ee2f" name="search-recordType-salesforce" target="rTypeMech" />
				<flow-ref doc:name="get-employees-shifts" doc:id="f5b661aa-ada0-48f0-b5f3-2d1b9d1d9f9c" name="get-employees-shifts" />
				<ee:transform doc:name="Filter Duplicated Records" doc:id="295a2971-d531-43df-a4ec-2447a5d0d1b8">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload distinctBy $."prodCode"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="employees-batch" doc:id="fb1e3a68-3507-4be8-a5e9-dfe1edb633a7" name="employees-batch"/>
			</route>
			<route>
				<ee:transform doc:name="Variables to Get Consultants Shifts and recordType" doc:id="2bd56cf0-f8da-4347-9367-d514fa8c77d5">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="department"><![CDATA[%dw 2.0
output application/json
---
"consultant"]]></ee:set-variable>
						<ee:set-variable variableName="object"><![CDATA[%dw 2.0
output application/json
---
"Seller__c"]]></ee:set-variable>
						<ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/json
---
"Consultor"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="search-recordType-salesforce" doc:id="838f9cf4-62c5-4d49-937d-97bbf64ebf7a" name="search-recordType-salesforce" target="rTypeCons" />
				<flow-ref doc:name="get-employees-shifts" doc:id="826e6eaf-a0d3-459c-9cd4-43b7f6fc1f64" name="get-employees-shifts" />
				<ee:transform doc:name="Filter Duplicated Records" doc:id="91462f2f-109e-4185-a4c2-a156689b5970">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload distinctBy $."consultCode"
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<flow-ref doc:name="employees-batch" doc:id="ea0c6ad8-fb87-4ad7-a431-d5223e7f1382" name="employees-batch"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Flatten Payload" doc:id="ee5e444e-f152-44b4-b9c4-81d83c8384f8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
flatten(valuesOf(payload) map ((item, index) -> item.*payload))]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="globalError_Router" />
	</flow>
	<flow name="employees-batch" doc:id="3f092c57-cc65-4066-ac63-7dec3949505e" >
		<batch:job jobName="employees-shiftsBatch_Job" doc:id="459a367b-fcbc-4e39-8a56-5ca45953173a" maxFailedRecords="-1" blockSize="1000">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="1b8a2841-ebf5-4115-b318-73d6a1d8f376">
					<ee:transform doc:name="Map Employees Shifts Payload" doc:id="e0663f0a-bb69-4d20-ba71-0ad3ad109dc6">
						<ee:message>
							<ee:set-payload resource="dwl/map-employees-shift.dwl" />
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="cae0876d-bdd0-4ef3-b284-86a4ea0da39c" size="200" preserveMimeTypes="true">
						<ee:transform doc:name="Aggregate Payload" doc:id="70914753-b026-4502-9693-a181adf4437e">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: "false",
	records: payload
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<flow-ref doc:name="send-employee-shift" doc:id="22f5617a-6ab6-4545-9f11-ff51f3ed84f7" name="send-employee-shift" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Results" doc:id="c06b79b6-8375-45c4-beb0-c55cd1e93cab">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger results" doc:id="92beedc5-f033-49a7-9b52-bbc37cc9e620" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="send-employees-scheduled-agenda-to-salesforce" doc:id="f6138cc8-4738-4989-9324-fbd16db835f6" >
		<!-- [STUDIO:"Scheduler 15 Minutes"]<scheduler doc:name="Scheduler 15 Minutes" doc:id="d740f13c-bf75-4d1c-9610-a8398fc01c29" >
			<scheduling-strategy >
				<cron expression="0 0/15 * * * ?" timeZone="America/Sao_Paulo" />
			</scheduling-strategy>
		</scheduler> [STUDIO] -->
		<flow-ref doc:name="scheduled-consultant-subFlow" doc:id="e1743209-84d2-464d-8f23-301f98477014" name="scheduled-consultant-subFlow"/>
		<flow-ref doc:name="scheduled-productive-subFlow" doc:id="a95bae7d-abb9-4519-af71-382cf91a5161" name="scheduled-productive-subFlow"/>
		<ee:transform doc:name="Payload Response" doc:id="6fe47967-d1bb-4dcc-afca-f5fa5423c407" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
---
payload  ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<sub-flow name="scheduled-consultant-subFlow" doc:id="8dc59051-3496-47d0-b4a0-046bbfeef826" >
		<ee:transform doc:name="Variables to Get Consultants Schedulling and recordType" doc:id="fff9c87d-69dc-4d4f-937c-c5ce6a7bf897">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="department"><![CDATA[%dw 2.0
output application/json
---
"consultant"]]></ee:set-variable>
				<ee:set-variable variableName="object"><![CDATA[%dw 2.0
output application/json
---
"scheduling__c"]]></ee:set-variable>
				<ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/json
---
"Consultor"]]></ee:set-variable>
						<ee:set-variable variableName="company"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.company]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="search-recordType-salesforce" doc:id="99fb1e36-63f5-42d8-8fa8-6f43a920784a" name="search-recordType-salesforce" target="rTypeCons" />
		<flow-ref doc:name="get-employees-scheduling-status" doc:id="7401a2ae-6b1e-4399-8dc5-2bf2787e754f" name="get-employees-scheduling-status" />
		<choice doc:name="Choice" doc:id="d66a65ba-b824-4c2f-bdcb-c27c4e35bae1" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Variable to Create OS" doc:id="ecf51b2a-ecc1-4a4f-bd38-b12355f2f42b">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="vPayload"><![CDATA[%dw 2.0
output application/json
---
payload //filter !isBlank($.nomeConsultor)]]></ee:set-variable>
				<ee:set-variable variableName="arrayOS"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
				<ee:set-variable variableName="osCodes"><![CDATA[%dw 2.0
output application/json
---
payload.codigoAgendamento]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<foreach doc:name="For Each" doc:id="773b3058-c18b-4ebb-80ac-6f4b079d8895">
			<ee:transform doc:name="Map Payload to Create OS" doc:id="43da1072-d5a3-4b5f-b74e-960906d0d939">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
import * from Modules::orderFunctions
output application/json
---
[{
		attributes: {
			"type": "WorkOrder"
		},
		Asset: {
			ExternalId__c: payload.codigoVeiculo
		},
		Type__c: mapAppointmentTypeReversed(payload.tipoAgendamento),
		CurrentMileage__c: payload.km,
		ExternalId__c: payload.codigoOs,
		SchedulingExternalId__c: payload.codigoAgendamento,
		Status: "Agendamento realizado",
		CustomerNeedsTransport__c:  payload.clienteDesejaTransporte default false,
		CustomerWaiting__c: payload.clienteAguarda default false,
		ExpressService__c: payload.servicoExpresso default false,
		LiftInspection__c: payload.inspecaoElevador default false,
		//ProcessPhase__c: payload.partSequence,
		RequiresWashing__c: payload.exigeLavagem default false,
		ValetService__c: payload.servicoValet default false,
		Account: {
			ExternalId__c: payload.codigoCliente
		},
		Store__r: {
			ExternalId__c: mapStore2(payload.codigoLoja)
		}
	}]
]]></ee:set-payload>
				</ee:message>
				<ee:variables>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Concat Payload" doc:id="1e0ea397-2794-4b58-a25d-abe44e85886c">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="arrayOS"><![CDATA[%dw 2.0
output application/json
---
vars.arrayOS ++ payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
				<ee:transform doc:name="Payload to Send OS" doc:id="d105f490-c659-4eda-83fd-edd42c9de194">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: vars.arrayOS
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<flow-ref doc:name="send-os-status-to-salesforce" doc:id="574407ab-804f-4f17-abb8-069e843e927f" name="send-os-status-to-salesforce" />
				<logger level="INFO" doc:name="Logger" doc:id="4fea2aee-541e-4c5a-a51b-aa211d6407e7" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    idOS: vars.osCodes[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    idOS: vars.osCodes[(index)],&#10;    description: value.errors[0].message&#10;}]" />
				<flow-ref doc:name="employees-scheduling-batch" doc:id="a27d9099-357a-4c0d-9fb4-7a8cadc022ee" name="employees-scheduling-batch" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger Empty" doc:id="6ff96a20-4341-4f86-97db-ff296bea54c6" message="Não foi encontrado nenhum agendamento de consultor(a) criado ou alterado no Dealernet"/>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="scheduled-productive-subFlow" doc:id="23005550-eb5f-4bf1-bf7f-6e97cd4a89a8" >
		<ee:transform doc:name="Variables to Get Mechanics Scheduliing and recordType" doc:id="65e8e8c8-2c31-4114-802a-b6f4dfa65c56">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="department"><![CDATA[%dw 2.0
output application/json
---
"mechanic"]]></ee:set-variable>
				<ee:set-variable variableName="object"><![CDATA[%dw 2.0
output application/json
---
"scheduling__c"]]></ee:set-variable>
				<ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/json
---
"Produtivo"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="search-recordType-salesforce" doc:id="22ee7e2c-24e6-4704-ab2a-5b0d52d5511c" name="search-recordType-salesforce" target="rTypeCons" />
		<flow-ref doc:name="get-employees-scheduling-status" doc:id="7c4dfe88-6086-436d-b814-61017d25147e" name="get-employees-scheduling-status" />
		<choice doc:name="Choice" doc:id="f6467f2a-da51-4283-8942-485934597bd1" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="Variable to Create OS Line Items" doc:id="813bafcd-817c-455e-86b7-0605608d0a9a">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="vPayload"><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-variable>
				<ee:set-variable variableName="lineCodes"><![CDATA[%dw 2.0
output application/json
---
payload.codigoIdServico]]></ee:set-variable>
				<ee:set-variable variableName="arrayLine"><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<foreach doc:name="For Each" doc:id="e0cdbf33-921d-49e9-b9b0-46983c097036">
			<ee:transform doc:name="TMO ExternalId" doc:id="e8e9a851-e39c-4237-9f76-e0ad24d0a47a">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="TMOExternalId"><![CDATA[%dw 2.0
output application/json
---
if(!isBlank(payload.modeloVeiculoTmoTempo)) 
(payload.codigoTMO ++ "_" ++ payload.modeloVeiculoTmoTempo)
else 
payload.codigoTMO]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Map Payload to Create OS Line Items" doc:id="6494c010-497a-4b5b-92f7-39183f61e7ab">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
import * from Modules::orderFunctions
output application/json
---
[{
	attributes: {
		"type": "WorkOrderLineItem"
	},
    ExternalId__c: payload.codigoIdServico, //vars.TMOExternalId ++ "_" ++ '
    DurationTime__c: (payload.duracaoServico/3600) as String,
    TmoExecutes__c: payload.executa,
    TmoRequiresTest__c: payload.exigeTesteVeiculo,
    TmoPrioritario__c: payload.prioritario default false,
    ExpressReview__c: payload.servicoRapido,
    TmoCharges__c: payload.cobra,
    ExecutionSector__c: mapExecSec(payload.setorExecucao),
    Quantity: payload.quantidadeTMO,
    Discount: payload.percDesconto,
    DiscountValue__c: payload.valorDesconto,
    Classification__c: payload.classificacaoTipoOs,
    WorkOrder: if(!isBlank(payload.codigoAgendamento)) {
    	SchedulingExternalId__c: payload.codigoAgendamento
    } 
    else
    {
    	ExternalId__c: payload.codigoOS
    },
    WorkOrderType__r: {
        ExternalId__c: payload.codigoTipoOs
    },
    UnitPrice: payload.valorUnitario,
    PricebookEntry: {
        ExternalId__c: "WorkOrderTMO" ++ "_" ++ vars.TMOExternalId
    }
}]]]></ee:set-payload>
				</ee:message>
				<ee:variables>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Concat Payload" doc:id="a8daf1e2-3380-49c6-886a-f78a72fed09a">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="arrayLine"><![CDATA[%dw 2.0
output application/java
---
vars.arrayLine ++ payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
				<ee:transform doc:name="Payload to Send LineItems" doc:id="015e93c6-91d8-4aa6-a180-836fd3d1bfa3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: vars.arrayLine
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<flow-ref doc:name="send-os-lineItems-to-salesforce" doc:id="8afb5dcc-e8bc-4596-b1d8-c9a9e673e0dd" name="send-os-lineItems-to-salesforce" />
				<logger level="INFO" doc:name="Logger" doc:id="7ffebb0a-f238-4097-8eb0-ddd91f2722ab" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    idLineItem: vars.lineCodes[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    idLineItem: vars.lineCodes[(index)],&#10;    description: value.errors[0].message&#10;}]" />
				<flow-ref doc:name="employees-scheduling-batch" doc:id="981581ea-7f6b-4f1c-8728-2ddce67e29ad" name="employees-scheduling-batch" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger Empty" doc:id="3985873a-c0e9-466f-b837-b6071fea3032" message="Não foi encontrado nenhum agendamento de produtivo(a) criado ou alterado no Dealernet"/>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="employees-scheduling-batch" doc:id="bc22e0d8-33b0-46c6-a2cc-95cec8169044" >
		<ee:transform doc:name="Reset Payload" doc:id="cf9eae52-8a48-497f-ae4c-c328bcca6849" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.vPayload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="employeesBatch_Job" doc:id="199e81e6-443f-4f52-b295-85b84981fb1d" blockSize="1000" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step1" doc:id="b9212802-a3bc-4e80-a45d-927b3a449544" >
					<ee:transform doc:name="Map Employees Scheduling Payload" doc:id="30cdb763-3a90-4ca8-8390-f29630955956" >
						<ee:message>
							<ee:set-payload resource="dwl/map-employees-schedulling.dwl" />
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1bfb1aea-68c1-44af-bbdd-780c3fb4ffb3" size="200" preserveMimeTypes="true">
						<ee:transform doc:name="Aggregate Payload" doc:id="5212198a-a38c-45fc-9fc1-ba0a622a3bb2" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: "false",
	records: payload
}]]></ee:set-payload>
							</ee:message>
							<ee:variables >
								<ee:set-variable variableName="sellerCode" ><![CDATA[%dw 2.0
output application/json
---
payload.Seller__r.ExternalId__c]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						<flow-ref doc:name="send-employees-schedulling" doc:id="a8fd60b9-168b-4173-bfac-58cfa5a8c386" name="send-employees-schedulling"/>
						<logger level="INFO" doc:name="Logger" doc:id="d32feb76-6b65-49d2-b09e-d8605cf87267" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload map (value, index) -&gt; if(value.success == true)&#10;{&#10;    idFuncionario: vars.sellerCode[(index)],&#10;    sfId: value.id&#10;}&#10;else &#10;{&#10;    idFuncionario: vars.sellerCode[(index)],&#10;    description: value.errors[0].message&#10;}]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
