src/main/mule/orchestration/service-order.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="send-service-order-to-salesforce" doc:id="f7c413f7-4bd0-4c74-8c47-74c24d74c41f" initialState="stopped">
		<scheduler doc:name="Scheduler" doc:id="42d69755-8d50-4f0e-ae69-2c9f624e26a0" >
			<scheduling-strategy >
				<fixed-frequency frequency="60" startDelay="10" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="get-service-order-status" doc:id="f0ae9869-6688-4bb6-9134-de12e5e28663" name="get-service-order-status"/>
		<logger level="INFO" doc:name="Logger" doc:id="08b5eaf4-e361-4d4e-b529-3cd97773cccc" />
		<batch:job jobName="OS_Batch_Job" doc:id="eaaf7c8b-fbba-4270-93dd-1f8c5b823f05" blockSize="1000" maxFailedRecords="-1">
			<batch:process-records>
				<batch:step name="Batch_Step" doc:id="a472a047-012b-447e-ac94-91e977516426">
							<batch:aggregator doc:name="Batch Aggregator" doc:id="d2b436f7-81fb-40f3-8ec0-6e3811ce9857" size="200" preserveMimeTypes="true">
								<logger level="INFO" doc:name="Logger OS batch" doc:id="7f44bb0d-f62f-4d94-9fb7-829f9ac5c412" message="Integration: send-service-order-to-salesforce | Before Send OS to salesforce Status | payload model : #[payload[0]]"/>
						<ee:transform doc:name="Map Payload to OS Status" doc:id="4a824194-050b-409d-a70a-cf1ddb649ded">
					<ee:message>
							<ee:set-payload resource="dwl/map-os-from-dealernet.dwl" />
						</ee:message>
				</ee:transform>
								<flow-ref doc:name="send-os-status-to-salesforce" doc:id="3e9fb230-1ccf-47c7-a378-9c5d87e7575e" name="send-os-status-to-salesforce" />
							</batch:aggregator>
						</batch:step>
					</batch:process-records>
				</batch:job>
		<batch:job jobName="LineItems_Batch_Job" doc:id="ff913f09-2fe6-4560-bd2e-ed0cf7e22623" blockSize="1000" maxFailedRecords="-1">
					<batch:process-records>
				<batch:step name="Map_OS_LineItems_ServiceBatch_Step" doc:id="f6adf0fd-76ee-438c-b698-e04ed7b7f030">
							<batch:aggregator doc:name="Batch Aggregator" doc:id="79696f58-0cd1-4d5a-af28-0c99d2322b63" size="200" preserveMimeTypes="true">
								<logger level="INFO" doc:name="Logger Line Items Service Batch" doc:id="3c89ac9c-0eb0-4968-903b-e59428099606" message="Integration: send-service-order-to-salesforce | Before Send Line Items Service Batch | payload model : #[payload[0]]" />
						<ee:transform doc:name="Map Payload to Line Items - Service" doc:id="738c98ff-7f28-4a94-b88d-ab673ae813f8">
					<ee:message>
						</ee:message>
									<ee:variables>
										<ee:set-variable resource="dwl/map-os-lineItems-service.dwl" variableName="vPayload" />
									</ee:variables>
				</ee:transform>
								<flow-ref doc:name="send-os-lineItems-to-salesforce" doc:id="e012ccf2-5bbc-4e0d-8720-a11dabd8dbee" name="send-os-lineItems-to-salesforce" />
							</batch:aggregator>
						</batch:step>
						<batch:step name="Map_OS_LineItems_PartsBatch_Step" doc:id="f8e3ef1c-f4d4-481b-9d7b-43c8131b749d">
							<ee:transform doc:name="Map Payload to Line Items - Parts" doc:id="3ae87098-9b3f-4fa1-b02c-a473cebbdc1a">
					<ee:message>
						</ee:message>
								<ee:variables>
									<ee:set-variable resource="dwl/map-os-lineItems-parts.dwl" variableName="vPayload" />
								</ee:variables>
				</ee:transform>
							<batch:aggregator doc:name="Batch Aggregator" doc:id="ddd10683-edb4-4209-8655-5695470b0b21" size="200" preserveMimeTypes="true">
								<logger level="INFO" doc:name="Logger Line Items Parts Batch" doc:id="3c09d41f-623c-4df4-9612-18e75d6e52de" message="Integration: send-service-order-to-salesforce | Before Send Line Items Parts Batch | payload model : #[payload[0]]" />
						<ee:transform doc:name="Aggregate Payload" doc:id="6a0e9e54-8d63-4f2c-a2a7-3acc165ae1df">
									<ee:message>
										<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	allOrNone: false,
	records: payload
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
								<flow-ref doc:name="send-os-lineItems-to-salesforce" doc:id="aef1c9bc-6d5e-43fb-ad99-a8a2a13299e7" name="send-os-lineItems-to-salesforce" />
							</batch:aggregator>
						</batch:step>
					</batch:process-records>
				</batch:job>
		<error-handler ref="globalError_Router" />
	</flow>
	<sub-flow name="update-service-order-from-salesforce-to-dealernet-main" doc:id="f4696f0f-1a91-4455-ba11-7560595c038c" >
		<ee:transform doc:name="Set Variables to Query Informations" doc:id="32c53b18-b4c1-4356-bc19-3c4bb1960f00" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="compositeRequest" ><![CDATA[%dw 2.0
output application/json
---
{
  "allOrNone": false,
  "compositeRequest": [
    {
      "method": "GET",
      "url": "/services/data/v63.0/query?q=SELECT Id, Seller__r.ExternalId__c, ExternalId__c, StartDate__c, Status__c, Observation__c, Store__r.ExternalId__c, Type__c  FROM Scheduling__c WHERE WorkOrder__r.Id = '" ++ vars.osId ++ "' AND RecordType.Name = 'Consultor'",
      "referenceId": "ConsultantSchedulingQuery"
    },
    {
      "method": "GET",
      "url": "/services/data/v63.0/query?q=SELECT Id, Seller__r.ExternalId__c, ExternalId__c, StartDate__c, Status__c, Observation__c, Store__r.ExternalId__c, Type__c, WorkOrderLineItem__r.ExternalId__c, WorkOrder__c, WorkOrderLineItem__r.Scheduling__r.StartDate__c, WorkOrderLineItem__r.Quantity, WorkOrderLineItem__r.UnitPrice, WorkOrderLineItem__r.Discount, WorkOrderLineItem__r.DiscountValue__c, WorkOrderLineItem__r.ExecutionSector__c, WorkOrderLineItem__r.Status, WorkOrderLineItem__r.WorkOrderType__r.ExternalId__c, WorkOrderLineItem__r.PricebookEntry.Product2.ExternalId__c, WorkOrderLineItem__r.Description FROM Scheduling__c WHERE WorkOrder__r.Id = '" ++ vars.osId ++ "' AND RecordType.Name = 'Produtivo'",
      "referenceId": "ProductiveSchedulingQuery"
    },
    {
	  "method": "GET",
	  "url": "/services/data/v63.0/query?q=SELECT Id, Description, ExternalId__c, Scheduling__r.StartDate__c, Quantity, UnitPrice, Discount, DiscountValue__c, Duration, ExecutionSector__c, Status, WorkOrderType__r.ExternalId__c, PricebookEntry.Product2.ExternalId__c FROM WorkOrderLineItem WHERE WorkOrderId = '" ++ vars.osId ++ "'",
	  "referenceId": "WorkOrderLineItemsQuery"
	}
  ]
}]]></ee:set-variable>
				<ee:set-variable variableName="integration" ><![CDATA[%dw 2.0
output application/json
---
"update-service-order-from-salesforce-to-dealernet"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="generic-composite-25-operations" doc:id="899c34f6-74df-41ab-846e-de4a9c4c191e" name="generic-composite-25-operations"/>
		<ee:transform doc:name="Payload Map - Agendamento and Servico" doc:id="6133df6e-9b4a-499d-bdca-edeac58862ce" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="consultPayload" ><![CDATA[%dw 2.0
var consult = payload.compositeResponse.body[0].records[0]
output application/json
---
{
    Agendamento_Data: consult.StartDate__c[0 to 18],
    Agendamento_Observacao: consult.Observation__c,
    Agendamento_Status: consult.Status__c,
    Agendamento_EmpresaCod: consult.Store__r,
    Agendamento_Tipo: consult.Type__c
}]]></ee:set-variable>
				<ee:set-variable variableName="prodPayload" ><![CDATA[%dw 2.0
var prod = payload.compositeResponse.body[1].records
output application/json
---
prod map (value, index) -> {
     OficinaServico_DescricaoProblemaSolucao: value.Description ,
     Oficina_DataPrevisao: value.StartDate__c ,
     OficinaServico_TMOCod: value.WorkOrderLineItem__r.PricebookEntry.Product2.ExternalId__c ,
     OficinaServico_Qtde: value.WorkOrderLineItem__r.Quantity ,
     OficinaServico_ValorUnitario: value.WorkOrderLineItem__r.UnitPrice ,
     OficinaServico_PercDesconto: value.WorkOrderLineItem__r.Discount ,
     OficinaServico_ValorDesconto: value.WorkOrderLineItem__r.DiscountValue__c ,
     OficinaServico_Horas: value.WorkOrderLineItem__r.Duration ,
     OficinaServico_AgendamentoCod: value.WorkOrder__r.SchedulingExternalId__c ,
     OficinaServico_SetorExecucao: value.WorkOrderLineItem__r.ExecutionSector__c ,
     OficinaServico_StatusAndamento: value.WorkOrderLineItem__r.Status ,
     OficinaServico_TipoOSCod: value.WorkOrderLineItem__r.WorkOrderType__r.ExternalId__c ,
     OficinaServico_UsuarioCodResponsavel: value.Seller__r.ExternalId__c
}]]></ee:set-variable>
				<ee:set-variable variableName="osId" ><![CDATA[%dw 2.0
var consult = payload.compositeResponse.body[0].records[0]
output application/json
---
consult.ExternalId__c]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Unify Payload" doc:id="284850d8-769c-4bbc-85b4-4dcab5640813" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"inputConsult": vars.consultPayload,
	"inputProd": vars.prodPayload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="update-os-from-salesforce-to-dealernet" doc:id="1a9049e9-44c8-42d5-adc5-c86be6225f81" name="update-os-from-salesforce-to-dealernet"/>
	</sub-flow>
</mule>
