src/main/mule/inbound/requests-dealernet-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce-sapi="http://www.mulesoft.org/schema/mule/salesforce-sapi" xmlns:tracing="http://www.mulesoft.org/schema/mule/tracing"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:dealernet-sapi="http://www.mulesoft.org/schema/mule/dealernet-sapi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/dealernet-sapi http://www.mulesoft.org/schema/mule/dealernet-sapi/current/mule-dealernet-sapi.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/tracing http://www.mulesoft.org/schema/mule/tracing/current/mule-tracing.xsd
http://www.mulesoft.org/schema/mule/salesforce-sapi http://www.mulesoft.org/schema/mule/salesforce-sapi/current/mule-salesforce-sapi.xsd">
	<sub-flow name="get-employees-shifts" doc:id="219a64cb-0547-43b7-902c-c60029a1ccf2" >
		<logger level="INFO" doc:name="Logger" doc:id="96828ace-4cf5-4000-87cf-066b27c7b772" />
		<dealernet-sapi:get-emploeeys-shifts doc:name="Get Emploeeys Shifts" doc:id="b095810e-66c5-468b-b5bf-bb66fd90938a" config-ref="Dealernet_sapi_Config" department="#[vars.department]" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}"/>
		<ee:transform doc:name="Response Payload" doc:id="f85f54a9-3259-487f-8ba5-896504e804fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="get-employees-scheduling-status" doc:id="89360ee8-320e-48e7-ac3b-e25f2088f903" >
		<logger level="INFO" doc:name="Logger" doc:id="d8a36551-68da-4a2b-9221-3c2e6af48d17" />
		<dealernet-sapi:get-scheduling-status doc:name="Get Scheduling Status" doc:id="59b51e12-0ceb-4201-90f7-00100be4a274" config-ref="Dealernet_sapi_Config" department="#[vars.department]" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}" company="#[vars.company]"/>
		<ee:transform doc:name="Response Payload" doc:id="54cd7333-dfb8-466c-975a-69a67be1016e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<sub-flow name="get-service-order-status" doc:id="bf7cda13-c5f6-4b25-b239-30bf5e10ed19" >
		<logger level="INFO" doc:name="Logger" doc:id="307c6cd8-e642-4184-a519-9157d21e57e1" />
		<dealernet-sapi:get-service-order-status doc:name="Get service order status" doc:id="048f8be9-0972-4f82-965f-3ccaf9ca4b80" config-ref="Dealernet_sapi_Config" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}"/>
		<ee:transform doc:name="Response Payload" doc:id="cfbaa578-e3bf-4c37-a9ef-6e77a965ef6c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="send-invoices-and-proposal-status-to-salesforce" doc:id="6e9c8b92-32f5-4018-80f0-8574e0d0b824" >
		<scheduler doc:name="Scheduler" doc:id="c261fc62-d0db-40ee-af92-a8a3ff382207" >
			<scheduling-strategy >
				<fixed-frequency startDelay="1" timeUnit="MINUTES" frequency="30"/>
			</scheduling-strategy>
		</scheduler>
		<tracing:with-correlation-id doc:name="With CorrelationID" doc:id="d156474b-2ce6-40c3-986a-38cb3503ac9b" correlationId="#[correlationId]">
			<dealernet-sapi:get-invoices doc:name="Get Invoices" doc:id="c8d31c10-76be-4617-b887-5c92e38bfb40" config-ref="Dealernet_sapi_Config" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}"/>
		</tracing:with-correlation-id>
		<ee:transform doc:name="invoice body request to Salesforce" doc:id="942ffcc5-d15f-44d8-a082-86e38b63529c">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="invoiceRequest" ><![CDATA[%dw 2.0
output application/json
---
{
  notas: payload map (nf) -> {
    attributes: {
      "type": "Invoice__c"
    },
    Number__c: nf.NotaFiscal_Numero,
    //Name: nf.NotaFiscal_Numero as String,
    Series__c: nf.NotaFiscal_Serie,
    Movement__c: nf.NotaFiscal_Movimento,
    TotalValue__c: nf.NotaFiscal_ValorTotal,
    ExpenseSum__c: nf.NotaFiscal_SomaDespesas,
    FreightValue__c: nf.NotaFiscal_ValorFrete,
    InsuranceValue__c: nf.NotaFiscal_ValorSeguro,
    OtherValue__c: nf.NotaFiscal_ValorOutros,
    InterestValue__c: nf.NotaFiscal_ValorJuros,
    DiscountValue__c: nf.NotaFiscal_ValorDesconto,
    SurchargeValue__c: nf.NotaFiscal_ValorAcrescimo,
    Observation__c: nf.NotaFiscal_Observacao,
    OperationNatureDescription__c: nf.NaturezaOperacao_Descricao,
    IssueDate__c: nf.NotaFiscal_DataEmissao,
    ExternalId__c: nf.K_NotaFiscal_Codigo,
    (Account__r: {
      ExternalId__c: nf.K_NotaFiscal_PessoaCod
    }) if(!isEmpty(nf.K_NotaFiscal_PessoaCod)),
//    (PaymentCondition__r: {
//      ExternalId__c: nf.K_NotaFiscal_CondicaoPagamentoCod
//    }) if(!isEmpty(nf.K_NotaFiscal_CondicaoPagamentoCod)),
//    Order__r: {
//      ExternalIdDealerNet__c: nf.Proposta_Pedido
//    }
  }
}
]]></ee:set-variable>
				<ee:set-variable variableName="orderRequest" ><![CDATA[%dw 2.0
output application/json
---
{
  order: payload map (ord) -> {
    attributes: {
      "type": "Order"
    },
    Status: if(ord.Proposta_Status == "FAT") "Faturado" else null,
    ExternalIdDealerNet__c: ord.K_Proposta_Codigo,
  }
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="b217ecc1-86c3-42ca-9af1-49a039042e16" collection="#[vars.invoiceRequest]" batchSize="200">
			<ee:transform doc:name="composite body request" doc:id="9174f92c-df46-4397-ac1d-a6531e98611a" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  allOrNone: false,
  records: flatten(payload.notas)
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<salesforce-sapi:send-invoices-to-salesforce doc:name="Send Invoices to Salesforce" doc:id="06cab923-b331-451f-8ce2-4ca96da475d4" config-ref="Salesforce_sapi_Config" client-id="${secure::salesforce-sapi.client_id}" client-secret="${secure::salesforce-sapi.client_secret}"/>
		</foreach>
		<foreach doc:name="For Each" doc:id="fc5e2a42-d3a1-48c8-aa44-749321f06f9b" collection="vars.orderRequest" batchSize="200">
			<ee:transform doc:name="composite body request" doc:id="575139f3-763c-423e-af48-0ba22c940fe3" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  allOrNone: false,
  records: flatten(payload.order)
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<salesforce-sapi:update-proposal-to-salesforce doc:name="Update Proposal to Salesforce" doc:id="b5531463-f13c-49ea-90d3-8dd21ff13985" config-ref="Salesforce_sapi_Config" client-id="${secure::salesforce-sapi.client_id}" client-secret="${secure::salesforce-sapi.client_secret}"/>
		</foreach>
	</flow>
	<sub-flow name="get-vehicles-reservation-in-dealernet" doc:id="9aa8aee2-d812-4169-8980-23ec5e514079" >
		<logger level="INFO" doc:name="Logger" doc:id="3d7d977e-84aa-437b-87d2-b715b4e0cac7" message="Integration: #[vars.integration] | CorrelationId: #[correlationId] | Date: #[vars.dateCarReservation]  "/>
		<dealernet-sapi:get-car-reservation doc:name="Get Car Reservation" doc:id="6cbb5a29-27bd-4fa0-aa20-98244cdd3ce6" config-ref="Dealernet_sapi_Config" time-amount="#[vars.dateCarReservation]" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}"/>
		<ee:transform doc:name="Response Payload" doc:id="e5a4199c-66fd-4a94-ab34-dc5fff796907" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
