src/main/mule/order-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:dealernet-sapi="http://www.mulesoft.org/schema/mule/dealernet-sapi" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/dealernet-sapi http://www.mulesoft.org/schema/mule/dealernet-sapi/current/mule-dealernet-sapi.xsd">
    <http:listener-config name="order-papi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="order-papi-config" api="resource::3ef2b520-3a61-4eeb-b14c-cd1a42d10fb4:order-papi:1.0.5:raml:zip:order-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="order-papi-main">
        <http:listener config-ref="order-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="order-papi-config" />
        <error-handler ref="globalError_Router" />
    </flow>
    <flow name="order-papi-console">
        <http:listener config-ref="order-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="order-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\proposal:order-papi-config">
        <logger level="INFO" message="get:\proposal:order-papi-config" />
    </flow>
    <flow name="post:\proposal:application\json:order-papi-config">
        <flow-ref doc:name="send-proposal-to-dealernet-subflow" doc:id="a665a756-a0e5-41ac-bb18-9147d66063a4" name="send-proposal-to-dealernet-subflow" />
    </flow>
    <flow name="post:\register-service:application\json:order-papi-config">
        <logger level="INFO" message="post:\register-service:application\json:order-papi-config" />
    </flow>
    <flow name="post:\service-order:application\json:order-papi-config">
        <flow-ref doc:name="send-consultant-and-productive-appointment-to-dealer" doc:id="16d553fa-05fc-422e-8836-1d7673be5f99" name="send-consultant-and-productive-appointment-to-dealer" />
    </flow>
    <flow name="post:\used-valuation:application\json:order-papi-config">
        <flow-ref doc:name="send-used-evaluation-to-dealernet-subflow" doc:id="c85dd20e-f824-42a4-abdd-49b19592ba66" name="send-used-evaluation-to-dealernet-subflow" />
    </flow>
    <flow name="post:\appointment:application\json:order-papi-config">
        <flow-ref doc:name="send-service-appointment-to-dealernet-subflow" doc:id="9e59f101-3d90-4f4d-91c9-7e3bbb905194" name="send-service-appointment-to-dealernet-subflow" />
    </flow>
    <flow name="post:\backup-car:application\json:order-papi-config">
        <flow-ref doc:name="send-backup-car-to-dealernet-subflow" doc:id="ed3bf3a1-89b2-4194-83b6-582377247e25" name="send-backup-car-to-dealernet-subflow" />
    </flow>
    <flow name="put:\proposal\(id):application\json:order-papi-config">
        <ee:transform doc:name="id uriParam">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="delete:\proposal\(id):order-papi-config">
        <ee:transform doc:name="id uriParam">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <dealernet-sapi:cancel-proposal-by-id doc:name="Cancel Proposal by ID" doc:id="17c8e165-8749-4156-9986-2eb04b677284" config-ref="Dealernet_sapi_Config" id="#[vars.id]" client-id="${secure::dealernet-sapi.client_id}" client-secret="${secure::dealernet-sapi.client_secret}" />
    </flow>
    <flow name="post:\proposal\aditional-services:application\json:order-papi-config">
        <flow-ref doc:name="send-aditional-services-to-dealernet-subflow" doc:id="ab995603-01bc-434c-b601-7eae275866ca" name="send-aditional-services-to-dealernet-subflow" />
    </flow>
    <flow name="patch:\service-order\(osId):application\json:order-papi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="osId">attributes.uriParams.'osId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="update-service-order-from-salesforce-to-dealernet-main" doc:id="83b23c21-1462-453d-896a-6b2df0d752b8" name="update-service-order-from-salesforce-to-dealernet-main"/>
    </flow>
</mule>
